#section1 {
  padding-top:50px;
  min-height:500px;
  color: #fff;
  background-color: #282b30;
  height: auto;
  text-align: center;
}

#section2 {
  padding-top:50px;
  min-height:500px;
  color: #fff;
  background-color: #36393e;
  height: auto;
  text-align: center;
}

#section3 {
  padding-top:50px;
  min-height:500px;
  color: #fff; 
  background-color: #282b30;
  height: auto;
  text-align: center;
}

#section4 {
  padding-top:50px;
  min-height:500px;
  color: #fff; 
  background-color: #1e2124;
  height: auto;
  text-align: center;
}
